header {
    background: black;
    float:top;
    z-index: 0;
    margin: 0 0 50px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
.profile-photo{
    display: block;
    max-width:0auto;
    border-radius: 15%;
    width: 700px;
    height: 400px;
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 200px;
}

.item:nth-child(1) {
    background: darkred;
}

.item:nth-child(2) {
    background: red;
}

.item:nth-child(3) {
    background: orange;
}
.Section{
    font-color: white;
}
* {
    font-color: white;
}
p{
    font-color: white;
}