a {
    text-decoration: none;
    color: #6ab47b;
}
img {
    max-width: 362px;
}
h3{
   margin: 0 0 1em 0;
}
/********************************
a:hover {
    font-weight: bold;
    font-size: 25px;
}
********************************/
header{
    float: left;
    margin: 0 0 50px 0;
    padding: 5px 0 0 0;
    width: 100%;
    
}
body {
    font-family: 'Open Sans', sans-serif;
    font-color: white;
}
* {
    font-family: 'Poiret One';
    : white;
}
#wrapper {
     max-width: 940px;
     margin: 0 auto;
     background-color: transparent;   
     padding: 0 5%;
}
#logo {
    text-align: center;    
    margin: 0;
}
body {
    background-color: transparent;
    color:#999;
    font-color: white;
    font-family: 'Poiret One', cursive;
}
header {
    background: black;
    float:top;
    z-index: 0;
}
h1 {
    color:#fff;
    margin: 15px 0;
    font-size: 1.75em;
}
h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
nav {
    background: #599a68;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    float: top;

}
nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}
nav li{
    display: inline-block;
}
nav a{
    font-weight: 800;
    padding: 15px 10px;
}
footer {
       font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}
#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: black;
    color:black;
}
#gallery li a p{
    margin: 0;                              
    padding: 5%;
    font-size: 1em;
}
nav a, nav a:visited {
    color: #fff; 
}
nav a.selected, nav a:hover {
    color: #326737;
}
@media screen and (min-width: 480px){
    #primary{
        width: 50%;
        float: left;
    }
    #secondary{
        width: 40%;
        float: right;
    }
}
.profile-photo{
    float: left;
    margin: 0 5% 80px 0;
}
@media screen and (min width:660px){
    nav{
        background: none;
        float: right;
        font-size:1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;  
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size:0.825em;
        margin-bottom: 20px;
    }
    header{
        border-bottom: 5px solid black;
        margin-bottom: 60px
    }
}
.modal-body {
    color: green;
}
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background-image: url('https://unsplash.imgix.net/41/yEWFnFQRqfmY9l9efJ6g_Snap01-web.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=7580de2dc3b3821f0dc1c97f2d60fe7c');
}
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1;
}
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1;
}
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #131313;
  position: absolute;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #1d1f20 1px solid;
}
.menu li:hover {
  display: block;
  background: #181818;
  padding: 15px 0 15px 0;
  border-bottom: #1d1f20 1px solid;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}
.menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  text-decoration: none;
  color: white;
}
.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}